:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #00180a;
    --bright-color: #00c200;
    --gradient-color: linear-gradient(120deg, #FDFAF6, #A0C334);
}

/* heroes */
.heroes {
    /* background-color: var(--mid-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1.5rem 4rem 1.5rem;
    gap: 3rem;
}

section.heroes h2,
section.heroes p {
    color: var(--dark-color);
}

section.heroes h2 {
    font-size: 3rem;
    margin: 2rem auto;
    border: none;
}

section.heroes h2 span {
    color: var(--lightest-color);
}

section.heroes p {
    font-size: 1.5rem;
    text-align: justify;
}

section.heroes img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid var(--dark-color);
}

span {
    color: red;
}

/* contact */
.contact h2,
legend h2 {
    font-size: 2rem;
}

.contact {
    clip-path: polygon(0 4%, 95% 0, 100% 0, 100% 97%, 5% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 3rem;
    border-radius: 1rem;
}

ul.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li.info {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    text-align: justify;
}

li.info ion-icon {
    flex-shrink: 0;
}

/* form */
.form {
    margin: 2rem 0;
}

fieldset {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    padding: 3rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend {
    margin: 0 auto;
}

legend h2 {
    border-bottom: none;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.form-input input {
    line-height: 1.25rem;
}

.form-input input.invalid {
    border: 1px solid red;
}

.form-input input.valid {
    border: 1px solid green;
}

.form-input input:focus {
    outline: 0;
}

.form-input.check {
    flex-direction: row;
    gap: 0.5rem;
}

textarea {
    resize: vertical;
}

form button {
    border: 1px solid var(--dark-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 3rem auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    color: var(--dark-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

form button:hover {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.253);
}
/* map */
section.map {
    background-color: var(--mid-color);
}

iframe {
    width: 100%;
}

