:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #00180a;
    --bright-color: #00c200;
}
/* heroes */
.heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1.5rem 4rem 1.5rem;
    gap: 3rem;
}

section.heroes h2,
section.heroes p {
    color: var(--dark-color);
}

section.heroes h2 {
    font-size: 3rem;
    margin: 2rem auto;
    border: none;
}

section.heroes h2 span {
    color: var(--lightest-color);
}

section.heroes p {
    font-size: 1.5rem;
    text-align: justify;
}

section.heroes img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid var(--dark-color);
}
/* contact */
.contact h2,
legend h2 {
    font-size: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 3rem;
}

.contact a {
    color: var(--lightest-color);
    text-decoration: none;
}

.contact a:hover {
    color: var(--bright-color);
}

ul.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li.info {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    text-align: justify;
}

li.info ion-icon {
    flex-shrink: 0;
}
/* form */
.form {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #ff0000;
}

fieldset {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    padding: 3rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend {
    margin: 0 auto;
}

legend h2 {
    border-bottom: none;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.form-input input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.form-input input.invalid {
    border: 1.5px solid red;
}

.form-input input.valid {
    border: 1.5px solid var(--bright-color);
}

.form-input input:focus {
    outline: 0;
    border: 1.5px solid #2424ff; 
}

.form-input input[type="checkbox"] {
    width: 1.5rem;
}

.form-input.check {
    flex-direction: row;
    gap: 0.5rem;
}

textarea {  
    resize: vertical;
    font-size: 1rem;
}

textarea:focus {
    outline: none;
}

form button {
    border: 1px solid var(--dark-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 3rem auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    color: var(--dark-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

form button:hover {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.253);
}
/* map */
section.map {
    background-color: var(--mid-color);
}

iframe {
    width: 100%;
}
/* media query */
@media (min-width: 720px) {
    /* heroes */
    .heroes {
        justify-content: space-evenly;
        flex-direction: row;
        padding: 5rem 1.5rem 4rem 1.5rem;
        gap: 3rem;
    }

    section.heroes h2 {
        margin: 0;
        margin-bottom: 2rem;
        margin-right: auto;
    }

    .heroes > div {
        width: 45%;
    }

    .heroes > div + div {
        width: 40%;
    }

    form {
        width: 50%;
    }

    form.hidden {
        transform: translateX(-100%);
    }

    form.show {
        transform: translateX(0);
    }
}

@media (min-width: 1280px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav,
    .heroes,
    .contact,
    footer {
        width: 100%;
        flex-shrink: 0;
    }

    .form {
        width: 50%;
    }

    form {
        width: 100%;
    }

    .map {
        width: 50%;
    }

    .map iframe {
        height: 100%;
    }
}

/* overlay */
.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }