/* heroes */
.heroes {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#cardDesign {
    background-color: var(--dark-color);
    position: relative;
    padding: 0.5rem;
    width: 100%;
    height: 32rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 25%;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.363);
}

#designContainer {
    height: fit-content;
}

#cardDesign > #designContainer > img {
    width: 4rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: var(--lightest-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

#grid2023 {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#grid2023 div {
    width: fit-content;
    height: fit-content;
    color: var(--lightest-color);
    font-family: 'Rajdhani', sans-serif;
    line-height: 70%;
    font-size: 8.5rem;
    font-weight: 900;
}

#grid2023 #big2 {
    grid-area: 1 / 1 / 4 / 3;
    font-size: 29.5rem;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cardDesign h2 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: 4px;
    font-family: 'Rajdhani', sans-serif;
    color: var(--lightest-color);
}

.heroes p {
    z-index: 1;
    padding: 1.5rem 2rem 0 0.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: justify;
    color: var(--dark-color);
}

.heroes p > span > a {
    color:var(--dark-color);
    font-weight: 900;
    font-size: 2rem;
}

.heroes p > span > a:hover {
    color: var(--bright-color);
}
/* core-values green*/

/* roadmap white*/

/* technology green*/
.technology {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology > h2,
.technology div h3 {
    text-align: center;
    margin: 0.5rem auto;
}

.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 1rem;
}

.slider {
    display: inline-flex;
    width: fit-content;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.grabbing {
    cursor: grabbing;
}

.grabbing div img {
    transform: scale(1.1);
}

.language,
.front-end,
.back-end {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front-end,
#front-end h3 {
    background-color: var(--lightest-color);
    color: var(--dark-color);
}

#front-end h3 {
    border-bottom: 3px solid var(--dark-color);
}

.language img,
.front-end img,
.back-end img {
    width: 50%;
    height: 100%;
    padding: 1rem;
    background-color: var(--lightest-color);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.363);
    border-radius: 1rem;
    transition: transform 0.3s ease-out;
}

.arrowLeft,
.arrowRight {
    font-size: 2rem;
}

/* partners white*/
.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.partner-slide {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.partner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    width: 33%;
    flex-shrink: 0;
    transition: transform 1s ease-in-out;
    /* animation: moving 30s ease-in-out infinite; */
}

.partner-logo img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: var(--lightest-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

.partner-logo.bigLogo img {
    width: 75%;
}

/* @keyframes moving {
    0% {
        transform: translateX(0);
    }
    8% {
        transform: translateX(0);
    }
    11% {
        transform: translate(-100%);
    }
    19% {
        transform: translateX(-100%);
    }
    22% {
        transform: translate(-200%);
    }
    30% {
        transform: translateX(-200%);
    }
    33% {
        transform: translate(-300%);
    }
    41% {
        transform: translate(-300%);
    }
    44% {
        transform: translate(-400%);
    }
    52% {
        transform: translate(-400%);
    }
    55% {
        transform: translate(-500%);
    }
    63% {
        transform: translate(-500%);
    }
    66% {
        transform: translate(-600%);
    }
    74% {
        transform: translate(-600%);
    }
    77% {
        transform: translate(-700%);
    }
    85% {
        transform: translate(-700%);
    }
    88% {
        transform: translate(-800%);
    }
    96% {
        transform: translate(-800%);
    }
    100% {
        transform: translateX(0%);
    }
} */