:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #00180a;
    --bright-color: #00c200;
}

img {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
}
/* heroes */
.heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 6rem 2rem;
    gap: 3rem;
}

.heroes > div + div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 30rem;
}

section.heroes h2,
section.heroes p {
    color: var(--lightest-color);
}

section.heroes h2 {
    margin: 0 auto;
    color: var(--dark-color);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    border: none;
}

section.heroes p {
    font-size: 1.25rem;
    color: var(--dark-color);
    text-align: justify;
}

.buttonHeroes {
    display: flex;
    gap: 2rem;
}

section.heroes button {
    cursor: pointer;
    outline-style: none;
    color: var(--lightest-color);
    background-color: var(--dark-color);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--lightest-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    transition: all 0.2s ease-in-out;
}

section.heroes button:hover {
    color: var(--dark-color);
    background-color: var(--lightest-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.253);
}

.heroesImg {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.heroes img {
    width: 100%;
    box-shadow: none;
}
/* personnel */
.personnel,
.extracurricular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
    gap: 3rem;
    overflow: hidden;
}

.personnel h2,
.extracurricular h2 {
    font-size: 2rem;
}

.personnel img,
.extracurricular img {
    width: 100%;
    border-radius: 5px;
}

#personnel p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    background-color: var(--lightest-color);
    border-radius: 1rem;
    border-top-left-radius: 0;
    color: var(--dark-color);
    padding: 1rem;
}

#table {
    width: 100%;
}

table {
    background-color: var(--lightest-color);
    color: var(--dark-color);
    border-spacing: 0.75rem;
    width: 100%;
}

caption {
    color: var(--lightest-color);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--lightest-color);
}

thead {
    font-size: 1.175rem;
}

th {
    text-align: start;
}

td {
    border-bottom: 1px solid var(--dark-color);
}

tfoot {
    font-weight: 700;
}

#table + div {
    width: 100%;
}
/* extracurricular */
#extracurricular p {
    font-size: 1.25rem;
    line-height: 3rem;
    color: var(--dark-color);
}

.extracurricular li {
    list-style: circle;
}
/* query media */
@media (min-width: 480px) {
    section.heroes button {
        font-size: 1.5rem;
    }
}

@media (min-width: 720px) {
    /* heroes */
    .heroes {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .buttonHeroes {
        display: flex;
        gap: 3rem;
    }

    section.heroes button {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
    }

    .heroes > div + div {
        max-width: 40rem;
    }

    .heroes .heroesImg {
        max-width: 40rem;
    }

    section.heroes > div img {
        max-width: 30rem;
        min-width: 20rem;
        margin-right: auto;
    }
    /* personnel */
    .personnel {
        display: grid;
        grid-template: 0.1fr 1fr 1fr/ 1fr 1fr;
        align-items: start;
        gap: 3rem;
    }

    .personnel h2 {
        margin: 3rem auto;
        grid-area: 1 / 1 / 2 / 3;
    }

    .personnel div {
        max-width: 40rem;
    }

    .personnel > div {
        margin-left: auto;
        order: 1;
    }

    #personnel {
        order: 2;
    }

    table {
        width: 100%;
        height: 100%;
    }

    #table {
        grid-area: 2 / 2 / 3 / -1;
        width: 90%;
        height: 80%;
        margin: 0;
        margin-right: auto;
    }

    #table + div {
        width: 90%;
        margin: 0;
        margin-right: auto;
        order: 3;
    }
    /* extracurricular */
    .extracurricular {
        display: grid;
        grid-template: 0.1fr 1fr / 1fr 1fr;
        padding: 2rem 2rem 4rem 4rem;
        gap: 3rem;
    }

    .extracurricular h2 {
        grid-area: 1 / 1 / 2 / 3;
        margin: 3rem auto;
    }

    .extracurricular img {
        max-width: 40rem;
        order: 1;
    }

    #personnel p {
        font-size: 1.25rem;
    }

    #extracurricular p {
        font-size: 1.5rem;
        line-height: 2.5;
    }

    #extracurricular {
        max-width: 40rem;
        margin: 0 auto;
    }
    /* slide in */
    .personnel > div.hidden {
        transform: translateY(-100%);
    }

    .personnel > div.show {
        transform: translateY(0);
    }

    #personnel.hidden,
    #extracurricular.hidden {
        transform: translateX(-100%);
    }

    #personnel.show,
    #extracurricular.show {
        transform: translateX(0);
    }

    #table.hidden,
    .extracurricular img.hidden {
        transform: translateX(100%);
    }

    #table + div.hidden {
        transform: translateY(100%);
    }

    #table + div.show{
        transform: translateY(0);
    }

    #table.show,
    .extracurricular img.show {
        transform: translateX(0);
    }
}
/* overlay */
.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }