:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #064420;
    --bright-color: #00c200;
    --gradient-color: linear-gradient(120deg, #FDFAF6, #A0C334);
}

section,
section > h2,
section a {
    background-color: var(--dark-color);
    color: var(--mid-color);
}

section > h2,
section.heroes ~ section a {
    border-bottom: 3px solid var(--mid-color);
}

section:nth-child(odd),
section:nth-child(odd) > h2,
section.heroes ~ section:nth-child(odd) a {
    background-color: var(--mid-color);
    color: var(--dark-color);
}

section:nth-child(odd) > h2,
section.heroes ~ section:nth-child(odd) a {
    border-bottom: 3px solid var(--dark-color);
}

section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

/* heroes */
.heroes {
    background: url("../img/background/products\ 320px.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 1.5rem 3rem 1.5rem;
    gap: 3rem;
}

.heroes > div + div {
    display: flex;
}

section.heroes h2,
section.heroes p {
    color: var(--lightest-color);
}

section.heroes h2 {
    color: var(--dark-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

section.heroes h2 span {
    color: var(--lightest-color);
}

section.heroes p {
    font-size: 1.5rem;
    text-align: justify;
}

section.heroes button {
    cursor: pointer;
    outline-style: none;
    color: var(--lightest-color);
    background-color: var(--dark-color);
    padding: 0.5rem;
    border: 1px solid var(--lightest-color);
    border-radius: 5px;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    transition: all 0.2s ease-in-out;
}

section.heroes button:hover {
    color: var(--dark-color);
    background-color: var(--lightest-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.253);
}

section.heroes img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid var(--dark-color);
}
/* products */
section.heroes ~ section h2,
section h3,
.slide > div {
    margin: 0.5rem 1.5rem;
}

section.heroes ~ section h2 {
    font-size: 1.45rem;
}

.slide h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.slide p {
    font-size: 1.15rem;
    text-align: justify;
}

.slideShow {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    border-radius: 0.25rem;
    width: 100%;
    border: 3px solid var(--mid-color);
}

section.heroes ~ section:nth-child(odd) a:hover,
.slide a:hover {
    color: var(--bright-color);
}

.entertainment img,
.services img {
    border-radius: 1rem;
    border: 3px solid var(--dark-color);
}

.leftArrow,
.rightArrow {   
    font-size: 40px;
    position: absolute;
    display: flex;
    top: 20%;
    color: var(--dark-color);
    background-color: #00000000;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    border-radius: 5px;
    cursor: pointer;
}

.leftArrow:hover,
.rightArrow:hover {
    opacity: 1;
    outline: none;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    
}

.leftArrow:active,
.rightArrow:active {
    background-color: var(--lightest-color);
    color: var(--dark-color);
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0;
}

div.navigation {
    position: absolute;
    display: flex;
    transform: scale(0);
    gap: 1.5rem;
    top: 17rem;
    right: 1.5rem;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 1rem;
    padding: 0.25rem;
}

div.navigation.nav5 {
    left: 5rem;
}

button.navigation {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button.navigation:hover {
    background-color: var(--dark-color);
}

button.navigation.show {
    background-color: var(--dark-color);
    transform: scale(1.3);
}
