:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #00180a;
    --bright-color: #00c200;
}

section,
section > h2,
section a {
    background-color: var(--dark-color);
    color: var(--mid-color);
}

section > h2 {
    border-bottom: 3px solid var(--lightest-color);
}

section:nth-child(odd),
section:nth-child(odd) > h2,
section:nth-child(odd) a {
    background-color: var(--mid-color);
    color: var(--dark-color);
}

section:nth-child(odd) > h2,
section.heroes ~ section:nth-child(odd) a {
    border-bottom: 3px solid var(--dark-color);
}

section {
    display: flex;
    flex-direction: column;
}
/* heroes */
.heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
    gap: 4rem;
}

.heroes > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
}

.buttonHeroes {
    display: flex;
    justify-content: center;
}

section.heroes h2,
section.heroes p {
    color: var(--lightest-color);
    margin: 0 auto;
}

section.heroes h2 {
    font-size: 2.5rem;   
    margin-bottom: 1.5rem;
    text-align: center;
}

section.heroes p {
    font-size: 1.25rem;
    text-align: justify;
    margin: 0 3rem;
}

.buttonHeroes {
    display: flex;
    gap: 2rem;
}

section.heroes button {
    cursor: pointer;
    outline-style: none;
    color: var(--lightest-color);
    background-color: var(--dark-color);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--lightest-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    transition: all 0.2s ease-in-out;
}

section.heroes button:hover {
    color: var(--dark-color);
    background-color: var(--lightest-color);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.253);
}

.heroesImg {
    width: 100%;
}

section.heroes img {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 5px;
}
/* products */
section.entertainment,
section.services {
    background-color: var(--mid-color);
}

.entertainment,
.services,
.business {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0 ;
}

.product {
    display: flex;
    align-items: center;
}

section.heroes ~ section h2 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.slide > div {
    background-color: var(--lightest-color);
    border-radius: 1rem;
    border-top-left-radius: 0;
    padding: 2rem;
    height: fit-content;
}

.slide > div a {
    font-size: 1.75rem;
    background-color: var(--lightest-color);
    color: var(--dark-color);
    border-bottom: 3px solid var(--dark-color) ;
}

.slide > div p {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--dark-color);
}

.slideShow {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
}

.slide img {
    border-radius: 1rem;
    width: 100%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.521);
    transition: all 0.2s ease-in-out;
}

section.heroes ~ section:nth-child(odd) a:hover,
.slide a:hover {
    color: var(--bright-color);
}

.leftArrow,
.rightArrow {   
    font-size: 24px;
    display: flex;
    height: fit-content;
    color: var(--dark-color);
    background-color: #00000000;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    border-radius: 5px;
    cursor: pointer;
}

.leftArrow ion-icon,
.rightArrow ion-icon {
    padding: 1rem 0;
}

.leftArrow:hover,
.rightArrow:hover {
    opacity: 1;
    outline: none;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);  
}

.business .leftArrow,
.business .rightArrow {
    color: var(--lightest-color);
}

.business .leftArrow:hover,
.business .rightArrow:hover {
    color: var(--lightest-color);
    border: 1px solid var(--lightest-color);
}

.leftArrow:active,
.rightArrow:active {
    background-color: var(--dark-color);
    color: var(--lightest-color);
}

.business .leftArrow:active,
.business .rightArrow:active {
    background-color: var(--lightest-color);
    color: var(--dark-color);
}
/* overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 95%;
    transform: translate(-50%,-50%);
}
/* media query */
@media (min-width: 480px) {
    .heroes h2 {
        text-align: start;
    }
    section.heroes button {
        font-size: 1.5rem;
    }
}

@media (min-width: 720px) {
    /* heroes */
    .heroes {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    section.heroes h2,
    section.heroes p {
        margin: 2rem 0;
        text-align: start;
    }

    .buttonHeroes {
        justify-content: start;
        gap: 2rem;
    }

    .heroes > div {
        max-width: 40rem;
    }

    .heroes > div + div {
        max-width: 30rem;
        min-width: 20rem;
    }
    
    section.heroes button {
        font-size: 1.5rem;
    }
    /* products */
    .product {
        width: 100%;
        margin: 0 auto;
    }

    .entertainment h2,
    .services h2 {
        text-align: center;
        font-size: 2rem;
    }

    .leftArrow,
    .rightArrow {   
        font-size: 32px;
    }

    .slide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 2rem;
        gap: 1.5rem;
    }

    .business .slide {
        flex-direction: row-reverse;
    }

    .slide img {
        width: 45%;
    } 

    .slide div {
        width: 45%;
    }

    .slide div p {
        font-size: 1.25rem;
    }
    
    .entertainment h2,
    .services h2,
    .business h2 {
        margin: 3rem auto;
        font-size: 2rem;
        text-align: center;
        width: fit-content;
    }
    
    section.heroes ~ section h2 {
        font-size: 2rem;
    }
    
    .slide img {
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    .slide img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .entertainment .product.hidden,
    .services .product.hidden {
        transform: translateX(-100%);
    }

    .business .product.hidden {
        transform: translateX(100%);
    }

    .entertainment .product.show,
    .services .product.show,
    .business .product.show {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 1280px) {
    /* .heroes > div {
        width: 45%;
    }
    .heroes > div + div {
        width: 45%;
    } */

    .slide {
        gap: 0;
        padding: 3rem 2rem;
    }

    .slide img {
        width: 50%;
    } 

    .slide div {
        width: 45%;
    }

    .product {
        width: 85%;
        margin: 0 auto;
    }
}
/* overlay */
.hidden {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(100%);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }