/* global */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');
:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #00180a;
    --bright-color: #00c200;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    height: 100vh;
}

body {
    /* width: auto; */
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: var(--mid-color);
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2,
h3 {
    width: fit-content;
    color: var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}

section:nth-child(odd),
section:nth-child(odd) h2,
section:nth-child(odd) h3 {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    border-bottom: 3px solid var(--lightest-color);
}

section.active,
footer.active {
    pointer-events: none;
    opacity: 0.3;
}
/* navbar */
nav {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-color);
    padding: 1rem;
}

.logoCompany {
    display: flex;
    align-items: center;
}

.logoCompany img {
    width: 3rem;
    background-color: var(--lightest-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.logoCompany p {
    color: var(--lightest-color);
    margin: 0 0.5rem;
    font-size: 1.25rem;
}
/* hamburger Menu */
.hamburgerMenu {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.hamburgerMenu:hover {
    border: 1px solid var(--lightest-color);
}

.hamburgerMenu.active {
    background-color: var(--lightest-color);
}

.hamburgerMenu span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: var(--lightest-color);
    transition: all 0.1s ease-in-out;
}

.hamburger-line1 {
    transform: translateY(-0.5rem);
}

.hamburger-line3 {  
    transform: translateY(0.5rem);
}

.hamburger-line1.active {
    transform: rotate(45deg) translateY(3px) translate(3px);
    background-color: var(--dark-color);
}

.hamburger-line3.active {
    transform: rotate(-45deg) translateY(-3px) translate(3px);
    background-color: var(--dark-color);
}

.hamburger-line2.active {
    transform: scale(0);
}
/* navMenu */
div.navMenu {
    display: none;
}
/* sidebar */
.sidebar{
    display: flex;
    height: 0;
    width: 100%;
    background-color: var(--lightest-color);
    flex-direction: column;
    align-items: start;
    gap: 5rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    overflow-y: hidden;
}

.sidebar.active {
    height: 40rem;
}

.sidebarMenu {
    margin-top: 1rem;
    margin-left: 1rem;
}

.sidebar .sidebarMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

li.sidebarMenu.active > a {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
}

li.sidebarMenu a:hover {
    border-bottom: 3px solid var(--dark-color);
}

.sidebar a {
    color: var(--dark-color);
    font-size: 2rem;
    padding: 0 0.5rem;
}

.socialMedia ul {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.sidebar .socialMedia {
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.sidebar .socialMedia ul {
    gap: 0.5rem;
}


/* footer */
footer {
    background-color: var(--footer-color);
    color: var(--lightest-color);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .logoCompany a {
    color: var(--light-color);
    margin-left: 1rem;
    font-size: 2rem;
}

footer .logoCompany a:hover {
    color: #00c200;
}

footer > .footerMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li.footerMenu a {
    color: var(--lightest-color);
    padding: 0 0.5rem;
}

li.footerMenu.active a {
    background-color: var(--lightest-color);
    color: var(--dark-color);
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
}

li.footerMenu a:hover {
    border-bottom: 2px solid var(--lightest-color);
}

li.socialMedia a {
    font-size: 40px;
}

footer li.socialMedia a {
    color: var(--lightest-color);
    font-size: 32px;
}

li.socialMedia a:hover {
    color: var(--bright-color);
}

li.socialMedia a {
    display: flex;
}

@media (min-width: 720px) {
    /* nav */
    .logoCompany p {
        display: none;
    }

    .hamburgerMenu {
        display: none;
    }

    div.navMenu {
        display: flex;
        margin-right: 2rem;
    }

    .navMenu ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    li.navMenu {
        font-size: 1rem;
    }

    li.navMenu a {
        color: var(--lightest-color);
    }

    li.navMenu a:hover {
        border-bottom: 3px solid var(--lightest-color);
    }

    li.navMenu.active a {
        background-color: var(--lightest-color);
        color: var(--dark-color);
        border-radius: 0.5rem;
        pointer-events: none;
        user-select: none;
        padding: 0.5rem 1rem;
    }
    /* footer */
    footer {     
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }

    .socialMedia ul {
        flex-wrap: wrap;
    }
}

@media (min-width: 1280px) {
    footer .footerMenu ul {
        flex-direction: row;
    }
}