/* global */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');
:root {
    --dark-color: #285430;
    --mid-color: #E4EFE7;
    --light-color:#FAF1E6;
    --lightest-color: #FDFAF6;
    --footer-color: #064420;
    --bright-color: #00c200;
    --gradient-color: linear-gradient(120deg, #FDFAF6, #A0C334);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: var(--mid-color);
    position: relative;
    gap: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2,
h3 {
    width: fit-content;
    color: var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}

section:nth-child(odd),
section:nth-child(odd) h2,
section:nth-child(odd) h3 {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    border-bottom: 3px solid var(--lightest-color);
}

section.active,
footer.active {
    pointer-events: none;
    opacity: 0.3;
}
/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 0.5rem 1.5rem;
}

.logoCompany {
    display: flex;
    align-items: center;
}

.logoCompany img {
    width: 2.5rem;
    background-color: var(--lightest-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.logoCompany p,
.logoCompany a {
    color: var(--lightest-color);
    margin: 0 0.25rem;
}
/* hamburger Menu */
.hamburgerMenu {
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.hamburgerMenu:hover {
    border: 1px solid var(--lightest-color);
}

.hamburgerMenu span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: var(--lightest-color);
    transition: all 0.2s ease-in-out;
}

.hamburger-line1 {
    transform: translateY(-0.25em);
}

.hamburger-line3 {  
    transform: translateY(0.25em);
}

.hamburger-line1.active {
    transform: rotate(45deg) translateY(3px) translate(3px);
}

.hamburger-line3.active {
    transform: rotate(-45deg) translateY(-3px) translate(3px);
}

.hamburger-line2.active {
    transform: scale(0);
}
/* sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: -75%;
    height: 100%;
    width: 75%;
    background-color: var(--lightest-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem 1rem 0 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    border-bottom-right-radius: 25%;
}

.sidebar img {
    width: 3.5rem;
    background-color: var(--lightest-color);
    padding: 0.25rem;
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
}

.sidebar span {
    width: 75%;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: var(--dark-color);
}

.sidebar > .sidebarMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

li.sidebarMenu.active > a {
    background-color: var(--dark-color);
    color: var(--lightest-color);
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
}

li.sidebarMenu a:hover {
    border-bottom:2px solid var(--dark-color);
}

.sidebar a {
    color: var(--dark-color);
    font-size: 2rem;
    padding: 0 0.25rem;
}

.sidebar.active {
    left: 0;
}

.socialMedia ul {
    display: flex;
    gap: 0.5rem;
}

.sidebar .socialMedia {
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
}
/* footer */
footer {
    background-color: var(--footer-color);
    color: var(--lightest-color);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

footer .logoCompany a {
    color: var(--light-color);
    font-size: 2rem;
}

footer .logoCompany a:hover {
    color: #00c200;
}

footer > .footerMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li.footerMenu a {
    color: var(--lightest-color);
    padding: 0 0.25rem;
}

li.footerMenu.active a {
    background-color: var(--lightest-color);
    color: var(--dark-color);
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
}

li.footerMenu a:hover {
    border-bottom: 2px solid var(--lightest-color);
}

footer li.socialMedia a {
    color: var(--lightest-color);
    font-size: 1.5rem;
}

li.socialMedia a:hover {
    color: var(--bright-color);
}

li.socialMedia a {
    display: flex;
}